<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.y2k.perstentmapuiresearch">

    <application
            android:theme="@style/Theme.AppCompat.Light"
            android:label="Persistent Map UI">
        <activity android:name=".MainActivity"
                  android:exported="true"/>
        <activity android:name=".WeatherActivity"
                  android:exported="true"/>
    </application>
</manifest>