<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.y2k.perstentmapuiresearch">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".App"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:label="Persistent Map UI">
        <activity android:name=".AppActivity"
                  android:exported="true"/>
        <activity android:name=".MainActivity"
                  android:exported="true"/>
        <activity android:name=".WeatherActivity"
                  android:exported="true"/>
    </application>
</manifest>